# ---- KAFKA CLUSTER in CONFLUENT CLOUD ---- #

# Replace {{ BROKER_ENDPOINT }} for your Confluent Cloud cluster
bootstrap.servers={{ BROKER_ENDPOINT }}

# Replace {{ CLUSTER_API_KEY }} and {{ CLUSTER_API_SECRET }}
sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required username='{{ CLUSTER_API_KEY }}' password='{{ CLUSTER_API_SECRET }}';

security.protocol=SASL_SSL
sasl.mechanism=PLAIN


# ---- SCHEMA REGISTRY in CONFLUENT CLOUD ---- #

# Replace {{ SR_ENDPOINT }}
schema.registry.url={{ SR_ENDPOINT }}

# Replace {{ SR_API_KEY }} and {{ SR_API_SECRET }}
basic.auth.user.info={{ SR_API_KEY }}:{{ SR_API_SECRET }}

basic.auth.credentials.source=USER_INFO
